@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.text-center{
    text-align: center;
}

nav{
    background-color: #ed333b;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > h3{
    color: white;
}

svg {
    max-height: 20px;
    margin: 0 8px;
}

#card-description {
    margin: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#card-description > p{
    text-align: justify;
    margin: auto;
}

#container-div{
    padding: 20px;
}

h2{
    font-size: 1rem;
}

span {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

.card-div{
    display: flex;
    padding: 20px;
}

.card-div > img {
    max-width: 300px;
    border-radius: 8px;
}

#location-div{
    display: flex;
    align-items: baseline;
    height: 1rem;
}

.map-link{
    margin-left: 1rem;
}

#location-div > a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.8rem;
}

#location-div > a > img{
    height: 100%;
    margin-right: 3px;
}

.divider{
    background-color: rgb(194, 194, 194);
    height: 1px;
    width: 80vw;
    margin: 15px auto;
}

#footer{
    background-color: #ed333b;
    padding: 10px;
    color: white;
    font-size: small;
}

/* Responsive Design */
@media only screen and (max-width: 770px){
    .card-div{
        flex-direction: column;
    }
    .card-div > img {
        max-width: 100%;
    }
    #card-description{
        margin: 20px 0;
    }
}